*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;800;900&display=swap);
    
    body {
      font-family: 'Work Sans', sans-serif;
    }
}
main{
    width: 665px;
    height: 481px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 100px;
}
/* form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
} */
form h1{
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
}
form .p{
    font-size: 14px;
    line-height: 16px;
}
form .section-1{
    display: flex;
    margin-top: 30px;
    width: 485px;
    height: 42px;
}
form label, h6{
    font-size: 12px;
    color: #7C7C7C;
    line-height: 14px;
    font-weight: 300;

}
form span{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 237px;
    height: 42px;
    border-bottom: 2px solid #F2F2F2;
}
form span input{
    outline: none;
    border: none;
    /* border-bottom: 2px solid #F2F2F2; */
}
.section-2{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.section-2 span:nth-child(1){
    width: 230px;
}
.section-3{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.section-3 #date{
    height: 35px;
    width: 220px;
    padding: 10px 0;
}
.gender{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.section-4{
    display: flex;
    margin-top: 20px;
    gap: 10px;

}

footer{
    display: flex;
    gap: 200px;
    margin-top: 90px;
}
footer h6{
    font-size: 16px;
}
footer h6 a{
    color: #5A61ED;
}
.btn{
    background: #5A61ED;
    color: white;
    width: 154px;
    height: 32px;
    border: none;
}
#p1, #p2, #pfname, #psurname, #pemail, #pdate{
    color: crimson;
    font-style: italic;
    font-size: 14px;
    display: none;
    margin-top: -5px;
    margin-bottom: 10px;
}
#plast{
    margin-top: 30px;
    color: crimson;
    font-style: italic;
    font-size: 18px;
    display: none;
}